In [1]:
import pandas as pd
import numpy as np
from janitor import clean_names
from pyprojroot import here

In [2]:
sales_2019 = pd.read_csv(here("./raw_data/sales-2019.csv")).clean_names()
sales_2016 = pd.read_csv(here("./raw_data/sales-2016-with-ratings.csv")).clean_names()

In [3]:
# drop columns we won't be needing
sales_2019.drop(['basename', 'vgchartz_score', 'critic_score', 'user_score', 'last_update', 'url', 'status', \
                 'vgchartzscore', 'img_url'], axis=1, inplace=True)

In [4]:
sales_2019.isna().sum()

rank                 0
name                 0
genre                0
esrb_rating      32169
platform             0
publisher            0
developer           17
total_shipped    53965
global_sales     36377
na_sales         42828
pal_sales        42603
jp_sales         48749
other_sales      40270
year               979
dtype: int64

In [5]:
# replace NAs in global_sales with corresponding value from total_shipped
sales_2019['global_sales'] = sales_2019['global_sales'].fillna(sales_2019.pop('total_shipped'))

In [6]:
sales_2019.dtypes

rank              int64
name             object
genre            object
esrb_rating      object
platform         object
publisher        object
developer        object
global_sales    float64
na_sales        float64
pal_sales       float64
jp_sales        float64
other_sales     float64
year            float64
dtype: object

In [7]:
# replace NAs in year column with 0
sales_2019['year'] = sales_2019['year'].fillna(0)

In [8]:
# convert year column from float to integer
sales_2019["year"] = sales_2019["year"].astype(int)

In [9]:
sales_2019.columns[7:12]

Index(['global_sales', 'na_sales', 'pal_sales', 'jp_sales', 'other_sales'], dtype='object')

In [10]:
# drop all rows where global_sales through other_sales are all NaN
sales_2019.dropna(subset=sales_2019.columns[7:12], how='all', inplace=True)

In [11]:
sales_2019.loc[sales_2019["global_sales"] >= 0.1]

,rank,name,genre,esrb_rating,platform,publisher,developer,global_sales,na_sales,pal_sales,jp_sales,other_sales,year
0,1,Wii Sports,Sports,E,Wii,Nintendo,Nintendo EAD,82.86,NaN,NaN,NaN,NaN,2006
1,2,Super Mario Bros.,Platform,NaN,NES,Nintendo,Nintendo EAD,40.24,NaN,NaN,NaN,NaN,1985
2,3,Mario Kart Wii,Racing,E,Wii,Nintendo,Nintendo EAD,37.14,NaN,NaN,NaN,NaN,2008
3,4,PlayerUnknown's Battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,36.60,NaN,NaN,NaN,NaN,2017
4,5,Wii Sports Resort,Sports,E,Wii,Nintendo,Nintendo EAD,33.09,NaN,NaN,NaN,NaN,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12637,12638,Slime Rancher,Simulation,E10,XOne,Skybound Games,Monomi Park,0.10,0.08,NaN,NaN,0.01,2018
12638,12639,thinkSMART,Misc,E,DS,Conspiracy Entertainment,Conspiracy Entertainment,0.10,0.09,NaN,NaN,0.01,2010
12639,12640,Disney Planes Fire & Rescue,Action,E,3DS,Disney Interactive Studios,Little Orbit,0.10,0.01,0.08,NaN,0.01,2014
12640,12641,Lost Dimension,Role-Playing,T,PSV,Atlus,Lancarse,0.10,0.04,0.02,0.02,0.02,2015
12641,12642,Kung Fu Panda 2,Action,E10,PS3,THQ,THQ,0.10,0.04,0.04,NaN,0.01,2011

In [12]:
sales_2019.platform.unique()

array(['Wii', 'NES', 'PC', 'GB', 'DS', 'X360', 'SNES', 'PS3', 'PS4',
       '3DS', 'PS2', 'GBA', 'NS', 'GEN', 'N64', 'PS', 'XOne', 'WiiU',
       'XB', 'PSP', '2600', 'GC', 'GBC', 'PSN', 'PSV', 'DC', 'SAT', 'SCD',
       'WS', 'XBL', 'Amig', 'VC', 'NG', 'WW', 'PCE', '3DO', 'GG', 'OSX',
       'PCFX', 'Mob'], dtype=object)

In [13]:
sales_2019.groupby(['platform']).size()

platform
2600     133
3DO        4
3DS      646
Amig       1
DC        52
DS      2511
GB        94
GBA      937
GBC        9
GC       564
GEN       31
GG         1
Mob        4
N64      322
NES      103
NG        12
NS       298
OSX        1
PC      2785
PCE        2
PCFX       1
PS      1211
PS2     2247
PS3     1411
PS4      957
PSN       16
PSP     1401
PSV      687
SAT      175
SCD        6
SNES     242
VC         6
WS         7
WW         3
Wii     1437
WiiU     170
X360    1349
XB       850
XBL       10
XOne     546
dtype: int64

In [14]:
# replace NAs in year column with 0
sales_2016['year_of_release'] = sales_2016['year_of_release'].fillna(0)

In [15]:
# convert year_of_release column from float to integer
sales_2016["year_of_release"] = sales_2016["year_of_release"].astype(int)

In [16]:
sales_2016.columns[10:14]

Index(['critic_score', 'critic_count', 'user_score', 'user_count'], dtype='object')

In [17]:
# drop all rows where critic_score through user_count are all NaN
sales_2016.dropna(subset=sales_2016.columns[10:14], how='all', inplace=True)

In [18]:
# drop columns we won't be needing
sales_2016 = sales_2016.loc[:, ['name', 'platform', 'critic_score', 'user_score']]

In [19]:
sales_2016.columns

Index(['name', 'platform', 'critic_score', 'user_score'], dtype='object')

In [20]:
# convert user_score from object to float in order to turn all "tbd" into NaN
sales_2016['user_score'] = pd.to_numeric(sales_2016['user_score'],errors = 'coerce')

In [21]:
sales_2016.columns[2:4]

Index(['critic_score', 'user_score'], dtype='object')

In [22]:
# drop all rows where both critic_score and user_score are NaN
sales_2016.dropna(subset=sales_2016.columns[2:4], how='all', inplace=True)

In [23]:
# create joined dataset with ratings from sales_2016
sales_joined = sales_2019.merge(sales_2016, how='left', on=['name', 'platform'])

In [24]:
sales_joined.groupby(['platform']).size()

platform
2600     133
3DO        4
3DS      646
Amig       1
DC        52
DS      2511
GB        94
GBA      937
GBC        9
GC       564
GEN       31
GG         1
Mob        4
N64      322
NES      103
NG        12
NS       298
OSX        1
PC      2786
PCE        2
PCFX       1
PS      1211
PS2     2247
PS3     1412
PS4      957
PSN       16
PSP     1401
PSV      687
SAT      175
SCD        6
SNES     242
VC         6
WS         7
WW         3
Wii     1437
WiiU     170
X360    1350
XB       850
XBL       10
XOne     546
dtype: int64

In [25]:
# remove irrelevant platforms
sales_joined = sales_joined.apply(lambda row: row[~sales_joined['platform']
                                                  .isin(['3DO','Amig', 'GG', 'Mob', \
                                                         'OSX', 'PCE', 'PCFX', 'SCD', 'VC', 'WS', 'WW'])])

In [26]:
# rename platforms for clarity
sales_joined["platform"].replace({"2600": "Atari 2600", "3DS": "Nintendo 3DS", "DS": "Nintendo DS", \
                                  "DC": "Sega Dreamcast", "GB": "Game Boy", "GBA": "Game Boy Advance", \
                                  "GBC": "Game Boy Color", "GC": "GameCube", "GEN": "Sega Genesis", \
                                  "N64": "Nintendo 64", "NG": "Neo Geo", "NS": "Nintendo Switch", \
                                  "PS": "PlayStation", "PS2": "PlayStation 2", "PS3": "PlayStation 3", \
                                  "PS4": "PlayStation 4", "PSN": "PlayStation Network", \
                                  "PSP": "PlayStation Portable", "PSV": "PlayStation Vita", \
                                  "SAT": "Sega Saturn", "Wii": "Nintendo Wii", "WiiU": "Nintendo Wii U", \
                                  "X360": "Xbox 360", "XB": "Xbox", "XBL": "Xbox Live", "XOne": "Xbox One"}, \
                                 inplace=True)

In [27]:
sales_joined.groupby(['platform']).size()

platform
Atari 2600               133
Game Boy                  94
Game Boy Advance         937
Game Boy Color             9
GameCube                 564
NES                      103
Neo Geo                   12
Nintendo 3DS             646
Nintendo 64              322
Nintendo DS             2511
Nintendo Switch          298
Nintendo Wii            1437
Nintendo Wii U           170
PC                      2786
PlayStation             1211
PlayStation 2           2247
PlayStation 3           1412
PlayStation 4            957
PlayStation Network       16
PlayStation Portable    1401
PlayStation Vita         687
SNES                     242
Sega Dreamcast            52
Sega Genesis              31
Sega Saturn              175
Xbox                     850
Xbox 360                1350
Xbox Live                 10
Xbox One                 546
dtype: int64

In [28]:
# remove games with no recorded sales
sales_joined = sales_joined.loc[sales_joined["global_sales"] > 0]

In [29]:
# create new variable for plotting (jp: joined/plotting)
sales_jp = sales_joined.copy()

In [30]:
# remove certain games that were bundled with consoles
sales_jp = sales_jp.loc[sales_jp["name"] != "Wii Sports"]
sales_jp = sales_jp.loc[sales_jp["name"] != "Super Mario Bros."]
sales_jp = sales_jp.loc[sales_jp["name"] != "Duck Hunt"]
sales_jp = sales_jp.loc[sales_jp["name"] != "Kinect Adventures!"]

In [31]:
# remove three rows where year is 0
sales_jp = sales_jp.loc[sales_jp["year"] != 0]

In [32]:
# restrict year range
sales_jp = sales_jp.loc[sales_jp["year"] <= 2018]
sales_jp = sales_jp.loc[sales_jp["year"] >= 1985]

In [33]:
# create PC/PS4/XONE variable
sales_ppx = sales_jp.loc[sales_jp["platform"].isin(["PC", "PlayStation 4", "Xbox One"])].copy()

In [34]:
# create PC variable
sales_pc = sales_jp.loc[sales_jp["platform"] == "PC"].copy()

In [35]:
# create PS4 variable
sales_ps4 = sales_jp.loc[sales_jp["platform"] == "PlayStation 4"].copy()

In [36]:
# create Xbox One variable
sales_xbox = sales_jp.loc[sales_jp["platform"] == "Xbox One"].copy()

In [37]:
sales_pc['year'].value_counts()

2011    224
2014    169
2016    167
2010    163
2015    162
2009    156
2008    122
2012    113
2013    112
2007    109
2017    107
2006     76
2005     71
2018     59
2004     58
2003     54
2002     42
2001     36
2000     30
1999     24
1998     16
1996     14
1995     12
1997     10
1993      8
1994      4
1992      2
1988      1
1986      1
1989      1
Name: year, dtype: int64

In [38]:
# restrict year range
sales_pc = sales_pc.loc[sales_pc["year"] >= 1995]

In [39]:
# write new csv files
sales_joined.to_csv(here("./clean_data/sales-joined.csv"), index=False)
sales_jp.to_csv(here("./clean_data/sales-jp.csv"), index=False)
sales_pc.to_csv(here("./clean_data/sales-pc.csv"), index=False)
sales_ps4.to_csv(here("./clean_data/sales-ps4.csv"), index=False)
sales_xbox.to_csv(here("./clean_data/sales-xbox.csv"), index=False)